button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
 background-color: #066163; 
}

.boton-clic {
  background-color: #FF5F00;
}

.boton-reset {
  background-color: #B20600;
}