* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #383838;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.contenedor-principal {
    height: 550px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CDBE78;
    margin: 20px;
    font-size: 50px;
}
